<%= render 'shared/navbar' %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :bio,
                hint: "add some information about yourself",
                input_html: { autocomplete: "Hello im a full-stack dev!" } %>
    <% if current_user.avatar.url.present? %>
      <strong>Existing Avatar</strong><BR>
        <%= image_tag @current_user.avatar_url.to_s  %>
        <%= f.label :remove_avatar do %>
        <%= f.check_box :remove_avatar %>
        <% end %>
      <% end %>
      <strong>Upload an avatar</strong><BR>
      <%= f.label :avatar, class: "control-label col-md-4" %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>

      <% if current_user.cover.url.present? %>
      <strong>Existing Cover</strong><BR>
        <%= image_tag @current_user.cover_url.to_s  %>
        <%= f.label :remove_cover do %>
        <%= f.check_box :remove_cover %>
        <% end %>
      <% end %>
      <strong>Upload a cover</strong><BR>
      <%= f.label :cover, class: "control-label col-md-4" %>
      <%= f.file_field :cover %>
      <%= f.hidden_field :cover_cache %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
