<% if current_user.id == @user.id %>
<!-- rendering the logged in user profile page -->
  <div class="profile-banner" data-profile=<%= @user.id %>>
    <% if @user.cover? %>
          <%= image_tag @user.cover.url %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dduochwyb/image/upload/v1565249325/HASHABLE/nature-wallpaper-widescreen-nature-with-extra-moon-jpg_ettm6x.jpg" %>
        <% end %>
    <div class="banner-detail">
      <div>
        <h2><%= @user.username %></h2>
          <p>Joined <%= @user.created_at.to_time.strftime('%B %e of %Y') %></p>
        <div>
          <p>Followed Users: <%= @user.following.count %></p>
          <p>Followers: <%= @user.followers.count %></p>
        </div>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, class: "banner-user avatar-bordered" %>
        <% else %>
          <%= image_tag "man.svg", class: "banner-user avatar-bordered" %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- bio section -->
  <% if @user.bio.blank? %>
    <div class="bio-section">
      <div class="d-flex justify-content-center feed-title">
        <h4>Bio</h4>
      </div>
      <div class="user-bio">
        <h4>There is no bio in your profile</h4>
        <%= link_to 'Add a Bio', '/users/edit', class: 'btn btn-primary add-edit-bio-btn'  %>
      </div>
    </div>
  <% else %>
    <div class="bio-section">
      <div class="d-flex justify-content-center feed-title">
        <h4>Bio</h4>
      </div>
      <div class="user-bio">
        <p><%= @user.bio %></p>
      <%= link_to 'Edit Bio', '/users/edit', class: 'btn btn-primary add-edit-bio-btn' %>
      </div>
    </div>
  <% end %>

<% else %>
<!-- if the logged in user is checking others pages it will render the other user's page -->
  <div class="profile-banner" data-profile=<%= @user.id %>>
    <% if @user.cover? %>
          <%= image_tag @user.cover.url %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dduochwyb/image/upload/v1565249325/HASHABLE/nature-wallpaper-widescreen-nature-with-extra-moon-jpg_ettm6x.jpg" %>
        <% end %>
    <div class="banner-detail">
      <div>
        <h2><%= @user.username %></h2>
        <p>Joined <%= @user.created_at.to_time.strftime('%B %e of %Y') %></p>
        <div>
          <p>Followed Users: <%= @user.following.count %></p>
          <p>Followers: <%= @user.followers.count %></p>
        </div>
      </div>
        <div>
          <% if current_user.is_following?(@user.id) %>
            <%= link_to "Unfollow", unfollow_user_path(@user.id), method: :post, remote: true, class: "btn btn-outline-danger follow-unfollow-btn-profile" %>
          <% else %>
            <%= link_to "Follow", follow_user_path(@user.id), method: :post, remote: true, class: "btn btn-outline-dark follow-unfollow-btn-profile" %>
          <% end %>
        </div>
        <div>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, class: "banner-user avatar-bordered" %>
          <% else %>
            <%= image_tag "man.svg", class: "banner-user avatar-bordered" %>
          <% end %>
        </div>
    </div>
  </div>
  <!-- other users bio section -->
  <% if @user.bio.blank? %>
    <div class="bio-section"></div>
  <% else %>
    <div class="bio-section">
      <div class="d-flex justify-content-center feed-title">
        <h4>Bio</h4>
      </div>
      <div class="user-bio">
        <p><%= @user.bio %></p>
      </div>
    </div>
  <% end %>
<% end %>
