<li class="profile-list" data-user=<%= user.id %>>
  <div class="profile-card" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= user.cover? ? user.cover.url : 'https://res.cloudinary.com/dduochwyb/image/upload/v1565249325/HASHABLE/nature-wallpaper-widescreen-nature-with-extra-moon-jpg_ettm6x.jpg' %>);">
    <% if user.avatar? %>
    <%= image_tag user.avatar.url %>
    <% else %>
    <%= image_tag "man.svg" %>
    <% end %>
    <div class="profile-info d-flex">
        <h2 class="mr-auto p-2 card-username">
          <%= link_to user.username, user %>
          <p>Followed Users: <%= user.following.count %></p>
          <p>Followers: <%= user.followers.count %></p>
          <p>Total posts: <%= user.miniposts.count %></p>
        </h2>
       <p class="p-2">
        <% if current_user.is_following?(user.id) %>
          <%= link_to "Unfollow", unfollow_user_path(user.id), method: :post, remote: true, class: "btn btn-danger follow-unfollow-btn" %>
        <% else %>
          <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true, class: "btn btn-dark follow-unfollow-btn" %>
        <% end %>
      </p>
    </div>
  </div>
</li>
