<%= form_for(@minipost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "What are you thinking?", class: "form-control" %>
  </div>
  <div class="d-flex justify-content-between">
      <span>
        <span class="home-picture-text">Upload a picture</span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>
      </span>
    <%= f.submit "Post", class: "btn btn-primary btn-lg post-btn" %>
  </div>
<% end %>
