<% if user_signed_in? %>
  <%= render 'shared/navbar' %>
  <!-- the user info in the home page with the post form -->
  <div class="d-flex justify-content-center ">
    <div class="container home-post-cont">
      <aside>
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="minipost_form">
          <%= render 'shared/minipost_form' %>
        </section>
      </aside>
    </div>
  </div>
<!-- The feed Render -->
<div class="container feed-cont">
  <h3 class="feed-title">Your Feed</h3>
  <%= render 'shared/feed' %>
<%= image_tag "arrow_up.svg", class: "fixed-bottom back-to-top" %>
</div>
  <%= render 'shared/footer' %>
<!-- If the user is not logged in it will render the landing page -->
<% else %>
  <%= render 'landing_page' %>
<% end %>


